*
!.gitignore
!OUT
!LIB
!halton_m.f90
!bigobj.txt
!clock_m.doc
!clock_m.f90
!const_kind_m.doc
!const_kind_m.f90
!const_numphys_h.doc
!const_numphys_h.f90
!date_time_m.doc
!date_time_m.f90
!gfile_m.doc
!gfile_m.f90
!hexpts.gnu
!icontrol_h.f90
!icontrol_m.f90
!log_h.f90
!log_m.doc
!log_m.f90
!Makefile.sumtot
!misc_m.f90
!patterns.gnup
!plot_case0.ctl
!plot_hex0.ctl
!qprog.txt
!README
!smitermpi_h.f90
!sum_h.f90
!sum_m.f90
!sumtot.bash
!sumtot.ed
!sumtot.f90
!sumtot_h.f90
!sumtot_m.f90
!sumtot.txt
!sum.txt
!ujj04.ctl
!ujpts.gnu
!vfile_m.doc
!vfile_m.f90
